.logo{
    width: 100%;
    margin-left: 8%;
    padding-top: 2%;
}

.logo_size{
    width: 35%;
    height: 100%;
}

header{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.nav{
    display: block;
    margin-top: 3%;
    margin-right: 5%;
}

#nav_menu{
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    list-style: none;
    justify-self: center;
}

#nav_menu a {
    display: block;
    padding: 29px;
    font-size: 130%;
    text-decoration: none;
    text-align: center;
    font-family: "Apercu";
    color: black;
}

#nav_menu a:hover {
    color: #5A5A5A;
}



ul {
    list-style: none;
  }
  
 /* .carousel > li {
    border-left: none;
  }

  .slide {
    position: absolute;
    opacity: 0;
    transition: 1000ms opacity ease-in-out;
    transition-delay: 800ms;
}  

.slide > img {
    display: block;
    width: 100%;
    height: 100%;
  }
  
  .slide[data-active] {
    opacity: 1;
    transition-delay: 0ms;
    z-index: 1;
  }*/

  .slide_show{
    position: relative;
  }

  .place_holder{
    width: 100%;
    visibility: hidden;
  }

  .layer1, .layer2, .layer3{
    position: absolute;
    width: 100%;
    top: 8%;
    left: 20%;
    background-size: cover;
  } 


  .layer2{
    animation: layer2ani 10s infinite;

  }

  .layer3{
    animation: layer3ani 10s infinite;

  }

h1{
    font-family: "Apercu Bold";
    font-size: 300%;
}

h2{
    font-family: "Apercu";
    margin-top: 5%;
    margin-bottom: 5%;
}

h4{
    font-family: "Apercu Bold";
}

li{
    font-family: "Apercu Light";
    font-size: medium;
}

footer{
    background-color: black;
    width: 100%;
    left: 0;
    float: left;
    position: absolute;
      
}

.footer_p {
    font-size: medium;
    color: black;
    margin-top: 3%;
    margin-bottom: 0%;
}

.footer_info{
    font-family: "Apercu";
    font-size: large;
    color: white;
    margin-left: 3%;
    padding-top: 1%;
    padding-bottom: 1%;

}

.fp{
    font-family: "Apercu Light";
    font-size: medium;
}


.cv_tekst{
    font-size: medium;
    text-align:justify;
    margin-left: 5%;
    margin-right: 5%;
    
}

.light_tekst{
    font-size: medium;
    text-align: justify;
    font-family: "Apercu Light";
    margin-left: 5%;
    margin-right: 5%;
}

.h1{
    font-family: "Apercu Bold";
    font-size: 250%;
    text-align: center;
    margin-top: 3%;
    margin-bottom: 2%;
    margin-left: 10%;
    margin-right: 8%;
    padding-top: 2%;
    padding-bottom: 2%;
    background-color: #F5DFE6;
}

.h2{
    margin-left: 2%;
    margin-bottom: 5%;
    text-align: center;
    font-family: "Apercu Bold";
}

.under_overskrift{
    font-family: "Apercu";
    font-size: 130%;
}




@font-face {
    font-family: "Apercu";
    src: url("../fonts/apercu_ttf/Apercu-Medium-kopi.ttf") 
}
@font-face {
    font-family: "Apercu Bold";
    src: url("../fonts/apercu_ttf/Apercu-Bold-kopi.ttf");
}

@font-face {
    font-family: "Apercu Light";
    src: url("../fonts/apercu_ttf/Apercu-Pro-Light-kopi.ttf");
}

p{
    font-family: "Apercu", cursive;
    font-size: xx-large;
}

.indhold{
    font-size: medium;
    font-family: "Apercu Light";
    text-align:justify;
    margin-left: 16%;
    margin-right: 16%;
}

.indhold2{
    font-size: large;
    font-family: "Apercu";
    text-align:justify;
    margin-left: 16%;
    margin-right: 10%;
    margin-top: 10%;
}

.scaleImage {
    animation: scaling-image-animation 5s ease;
  }
  
  @keyframes scaling-image-animation {
    0% {
      transform: scale(0.5);
      opacity: 0.8;
    }
  
    100% {
      transform: scale(2);
    }
  }

/*-----------------------------grids------------------------------------*/
 

.grid_1-1-1-1{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
}

/*.forside_img{
    grid-column: 1 / span 2;
    grid-row: 1;
    margin-left: 10%;
    margin-top: 2%;
    margin-bottom: 4%;
}*/

.img_size{
    width: 700px;
    height: 500px;
}

.forside_img2{
    grid-column: 2;
    grid-row: 1;
}

.img_size2{
    width: 1200px;
    height: 800px;
}

.forside_tekst{
    margin-top: 40%;
    margin-left: 15%;
}

.grid_container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-gap: 10px;
    margin-left: 2%;
    margin-right: 2%;

}

.grid_item{
    display: flex;
    flex-direction: column;
    background-color:#F5DFE6;
    justify-items: center;
    text-align:center;
    margin-top: 5%;
    line-height: 1.5;
}

.grid_container2{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-gap: 10px;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 5%;
   background-color: #F5DFE6;
  
   

}

.grid_item2{
    display: grid;
    text-align:center;
    justify-items: center;
    margin-top: 10%;
    line-height: 1.5;
    margin-bottom: 10%;  

}


.grid_container3{
    display: grid;
    grid-template-columns: 1fr 1fr ;
    grid-template-rows: auto;
    grid-gap: 60px;
    margin-left: 2%;
    margin-right: 2%;
    margin-bottom: 5%;
}

.grid_2fr{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
}

.grid_item3{
    display: grid;
    justify-items: center;
    text-align: center;
    margin-top: 5%;
    line-height: 1.5;

}

/*------------------------KEY FRAMES--------------------------------------------*/

@keyframes layer2ani {
    0% {
        opacity: 0;
    }
    17%{
        opacity: 0;
    }
    33%{
        opacity: 1;
    }
    50%{
        opacity: 1;
    }
    67%{
        opacity: 0;
    }
    83%{
        opacity: 0;
    }
    100%{
        opacity: 0;
    }
}

@keyframes layer3ani {
    0% {
        opacity: 0;
    }
    17%{
        opacity: 0;
    }
    33%{
        opacity: 0;
    }
    50%{
        opacity: 0;
    }
    67%{
        opacity: 1;
    }
    83%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}


  


/*------------------------MEDIA------------------------------------------*/


  
  @media (max-width: 800px){
  

    header{
        display: flex;
        justify-content: space-between;
    }

    .logo{
        width: 100%;

    }


    .logo_size{
       width: 100%;
        height: auto;
    }


    .forside_img{
        margin-right: 10%;
    }

    .img_size{
        width: 100%;
        height: auto;
    }
    

    img{
        max-width: 100%;
    }

    main{
        display: grid;
        grid-template-columns: 1fr;
    }


    h1{
        font-size: 250%;
    }

    p{
        font-size: 150%;
    }

    .grid_1-1-1-1{
        display: grid;
        grid-template-columns: 1fr;
    }

    .grid_container{
        display: grid;
        grid-template-columns: 1fr;
        margin-left: 5%;
        margin-right: 5%;
    }

    .grid_container2{
        display: grid;
        grid-template-columns: 1fr;
        margin-left: 5%;
        margin-right: 5%;
    }

    
      .layer1, .layer2, .layer3{
        position: absolute;
        width: 100%;
        top: 8%;
        left: 0;
        background-size: cover;
      } 

      .forside_tekst{
        margin-top: 5%;
        margin-left: 2%;
      }



}


  @media (max-width: 1100px) {
   

    img{
        max-width: 100%;
    }

    main{
        display: grid;
        grid-template-columns: 1fr;
    }

    .nav{
        display: block;
    }

    #nav_menu a{
        font-size: large;
    }

    .forside_tekst{
        margin-top: 5%;
        margin-left: 2%;
      }

    .grid_container{
        display: grid;
        grid-template-columns: 1fr;
        margin-left: 5%;
        margin-right: 5%;
    }

    .grid_container2{
        display: grid;
        grid-template-columns: 1fr;
        margin-left: 5%;
        margin-right: 5%;
    }

    .grid_1-1-1-1{
        display: grid;
        grid-template-columns: 1fr;
    }
  }
  

  @media (max-width: 1300px) {
   

    img{
        max-width: 100%;
    }
    
    main{
        display: grid;
        grid-template-columns: 1fr;
    }

    .forside_tekst{
        margin-top: 5%;
        margin-left: 2%;
      }


    .grid_container{
        display: grid;
        grid-template-columns: 1fr;
        margin-left: 5%;
        margin-right: 5%;
    }

    .grid_container2{
        display: grid;
        grid-template-columns: 1fr;
        margin-left: 5%;
        margin-right: 5%;
    }
    .grid_1-1-1-1{
        display: grid;
        grid-template-columns: 1fr;
    }
  }
  

  
